:root{
    --colorPrincipal: #B799FF;
    --colorAcento: #ACBCFF;
    --colorFondo: #E6FFFD;
    --blanco: #fff;
    --negro: #000;
    --colorTexto: #7900FF;
    --colorFooter: #548CFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-color: var(--colorFondo);
    color: var(--colorTexto);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 90px;
    padding: 0px 20px;

    background: var(--colorPrincipal);
    
    
    z-index: 1;
}
/*NAVEGACION*/
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    column-gap: 2rem;

    font-size: 1.5rem;
}
nav a{
    text-decoration: none;
    color: var(--blanco);
    font-weight: 700;
}

#logo, #contacto{    
    display: flex;
    height: 55px;
    width: 55px;
}
/*FIN NAVEGACION*/

/*ENCABEZADOS*/
h1 {
    font-size: 1.75rem;
    font-weight: 700;
}
h2{
    font-size: 1.25rem;
    font-weight: 400;
}
/*FIN ENCABEZADOS*/

/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*FIN MAIN*/

/*SECCIONES*/
section{
    height:fit-content;
    max-width: 1200px;
    padding: 40px 40px;
}
/*HOME*/
#home{
    margin-top: 90px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeBanner{
    display: flex;
    position: relative;
}

#homeBanner > img{
    opacity: 0.25;
}

#homeBannerTexto{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    bottom: 50%;
    text-align: center;
}
/*FIN HOME*/

/*FIN SECCIONES*/

/*FOOTER*/
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 150px;

    background-color: var(--colorFooter);
    color: var(--blanco);
}

#footer-iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    column-gap: 2rem;
    margin: 1rem 0;
}

.fa-brands{
    font-size: 3rem;
}
/*FIN FOOTER*/