:root{
    --colorPrincipal: #B799FF;
    --colorAcento: #ACBCFF;
    --colorFondo: #E6FFFD;
    --blanco: #fff;
    --negro: #000;
    --colorTexto: #7900FF;
    --colorFooter: #548CFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-color: var(--colorFondo);
    color: var(--colorTexto);
}
/* #region HEADER   */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 90px;
    padding: 0px 20px;

    background: var(--colorPrincipal);
    
    
    z-index: 1;
}
/* #endregion HEADER */

/* #region NAVEGACION */
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    column-gap: 2rem;

    font-size: 1.5rem;
}
nav a{
    text-decoration: none;
    color: var(--blanco);
    font-weight: 700;
}

#logo, #contacto{    
    display: flex;
    height: 55px;
    width: 55px;
}
/* #endregion */

/* #region ENCABEZADOS*/
h1{
    font-size: 1.75rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
}
/* #endregion ENCABEZADOS*/

/* #region MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #endregion MAIN*/

/* #region SECCIONES*/
section{
    height:fit-content;
    width: 100%;
    padding: 40px 40px;
    scroll-margin-top: 90px;

    
}
section > h1{
    text-align: start;
    border-bottom: 7px solid var(--colorTexto);
}

/* #region HOME*/
#home{
    margin-top: 90px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeBanner{
    display: flex;
    position: relative;
}

#homeBanner > img{
    opacity: 0.25;
}

#homeBannerTexto{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    bottom: 50%;
    text-align: center;
}
/* #endregion HOME*/

/* #region TOPCANCIONES */
#topCanciones{
}

.canciones-container{
    display: flex;
    justify-content: space-around;

    /*background-color: rgba(255, 255, 255, 0.5);*/

    border-radius: 2rem;
    padding: 0rem 6rem;
    margin: 2rem;
}

.cinco-canciones{
    display: flex;
    flex-direction: column;
}

.cancion{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    border-radius: 0.5rem;

    background-color: var(--colorAcento);

    margin: 1rem 0;

    box-shadow: 12px 12px 7px rgba(0, 0, 0, .1);
}

.numero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 80px;
    width: 60px;

    margin-left: 0.5rem;
}

.numero-top{
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 0.3;
}

.cancion > img{
    height: 80px;
    width: 80px;
    margin: 0.5rem;
}

.informacion-cancion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

    width: 200px;
}

.nombreCancion{
    font-weight: 700;
}

.fa-play{
    font-size: 3rem;
    margin: 1rem;
}



/* #endregion TOPCANCIONES*/

/* #region ARTISTADESTACADO */
#artistaDestacado{
    background-image: linear-gradient(90deg,hsla(220, 100%, 66%, 0.301), hsla(158, 100%, 79%, 0.63));
}


#artista-container{
    display: flex;
    flex-direction: row;

    background-color: var(--colorFondo);
    padding: 2rem;
    border-radius: 1rem;

    margin: 2rem 10rem;
}

.fotoArtistaDestacado img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;

    border-radius: 0.5rem;
}

#informacionArtista{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    width: 100%;
}

#informacionArtista > h2{
    margin-bottom: 1rem;
}

#descripcionArtista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 2rem;


}

.descripcionGeneral{
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    width: 400px;
}

.descripcionGeneral p > span{
    font-weight: 700;
}

#comentarios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    row-gap: 2rem;


    margin: 2rem 10rem;
}

.comentario{
    background-color: var(--colorFooter);
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;

    color: var(--blanco);
}
/* #endregion ARTISTADESTACADO */

/* #endregion SECCIONES*/

/* #region FOOTER*/
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0;

    height: 150px;

    background-color: var(--colorFooter);
    color: var(--blanco);
}

#footer-iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    column-gap: 2rem;
    margin: 1rem 0;
}

.fa-brands{
    font-size: 3rem;
}
/* #endregion FOOTER*/

/* #region BOTON*/
#botonIrArriba{
    display: none;
    position: fixed;
    cursor: pointer;

    bottom: 20px;
    right: 20px;

    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background: var(--colorAcento);

    box-shadow: 0px 12px 7px rgba(0,0,0,0.1);
    transition: 300ms ease;
}

#botonIrArriba:hover{
    background: var(--colorPrincipal);
    transform: translateY(-0.5rem);
}

#botonIrArriba svg{
    width: 30px;
    fill: none;
    stroke: var(--blanco);
    stroke-width: 3px;
}
/* #endregion BOTON*/